<main class="main">
  <div class="content">
    <div class="center">
      <h1>Writable Signals</h1>
    </div>
      <h1>{{ count() }}</h1>
    <div class="btn-container-parent">
      <div class="btn-container">
        <button class="btn" (click)="increase()">Increment</button>
      </div>
      <div class="btn-container">
        <button class="btn" (click)="reset()">Reset</button>
      </div>

    </div>
  </div>
  <div class="content">
    <div class="center">
      <h1>Computed Signals</h1>
    </div>
    <div style="display: flex;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>{{ length() }}</h1>
        <div class="btn-container-parent">
          <div class="btn-container">
            <button class="btn" (click)="increaseLength()">Increment Length</button>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>{{ breadth() }}</h1>
        <div class="btn-container-parent">
          <div class="btn-container">
            <button class="btn" (click)="increaseBreadth()">Increment Breadth</button>
          </div>
        </div>
      </div>

    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%;">
        <h2 style="width: 100%; display: flex; justify-content: center">Area = {{area()}}</h2>
        <button class="btn" (click)="resetArea()" >Reset</button>
    </div>
  </div>
  <div class="content">
    <div class="center">
      <h1>Effects</h1>
    </div>
    <div id="data" class="effects">
      @for (item of effectsLog; track $index) {
        <h4 style="font-style: italic; margin: 2%;">{{item}}</h4>
      }
    </div>
    <button class="btn" style="margin-top: 5%;" (click)="clearEffectsLog()">Clear effects log</button>
  </div>
</main>
<router-outlet />
